<h2>Bem vindo ao diretório de contatos da CPTM</h2>
<br>


     <p> 
     <%= link_to  "Clique aqui para checar seus contatos", contatos_path, class: "btn btn-danger" %>
     </p>
    
     
     
     <p>
      <%= link_to  "Clique aqui para adicionar um novo contato", new_contato_path, class: "btn btn-danger" %>
      </p>
    

    
      
      <%= link_to  "Clique aqui para saber o nome da secretária de cada chefe", assistentes_path, class: "btn btn-danger" %>
      