<h1>Editar secretária e chefe</h1>

<%= render 'form', assistente: @assistente %>
<br>

<%= link_to 'Mostrar', @assistente, class:"btn btn-outline-info" %> 

<%= link_to 'Voltar', assistentes_path, class:"btn btn-outline-info" %>
